@import 'breakpoints';

.alert {
	$parent: &;

	// https://www.instagram.com/p/Bt-phjYgWnf/

	&__container {
		padding: var(--space-sm);
	}

	border-radius: var(--radius);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: var(--space-md);
	opacity: 1;

	background-color: var(--clr-white);
	color: var(--clr-black);

	ul {
		list-style: none;
		padding: 0;
	}

	&__body {
		display: flex;
		align-items: flex-start;
	}

	&--dismissable {
		#{$parent}__body {
			align-items: center;
		}
	}

	&__close {
		order: 3;
		margin-left: var(--space-sm);
		line-height: 1;
	}

	&__icon {
		margin-right: var(--space-sm);

		line-height: 1;
		order: 1;

		> * {
			width: var(--icon-md);
			height: var(--icon-md);
		}
	}
	&__main {
		order: 2;
		flex-grow: 1;
	}

	&__main {
		> *:last-child {
			margin-bottom: 0;
		}
	}

	&--fixed {
		position: fixed;
		bottom: var(--space-sm);
		right: var(--space-sm);
		z-index: 49;
		width: calc(100% - var(--space-sm) * 2);
		max-width: var(--container-width-xxs);
		margin-bottom: 0;
	}

	&--info,
	&--error,
	&--warning,
	&--success,
	&--loader {
		border-left-style: solid;
		border-left-width: 5px;
	}

	&--info {
		border-color: var(--clr-info);

		#{$parent}__icon {
			color: var(--clr-info);
		}
	}

	&--error {
		border-color: var(--clr-error);

		#{$parent}__icon {
			color: var(--clr-error);
		}
	}

	&--warning {
		border-color: var(--clr-warning);

		#{$parent}__icon {
			color: var(--clr-warning);
		}
	}

	&--success {
		border-color: var(--clr-success);

		#{$parent}__icon {
			color: var(--clr-success);
		}
	}
}
